body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u463 {
  position:absolute;
  left:12px;
  top:60px;
  width:186px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u464 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u465 {
  position:absolute;
  left:129px;
  top:150px;
  width:204px;
  height:25px;
}
#u465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u466 {
  position:absolute;
  left:12px;
  top:0px;
  width:355px;
  height:35px;
  font-size:20px;
  color:#009900;
}
#u467 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u468 {
  position:absolute;
  left:18px;
  top:105px;
  width:300px;
  height:35px;
  font-size:16px;
  color:#000000;
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u470 {
  position:absolute;
  left:248px;
  top:198px;
  width:80px;
  height:25px;
}
#u470_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u471 {
  position:absolute;
  left:167px;
  top:198px;
  width:80px;
  height:25px;
}
#u471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u472_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:71px;
}
#u472p000 {
  position:absolute;
  left:-30px;
  top:29px;
  width:62px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u472p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:82px;
  height:13px;
}
#u472p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:2px;
}
#u472p001_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:13px;
}
#u472p002 {
  position:absolute;
  left:-10px;
  top:44px;
  width:22px;
  height:22px;
}
#u472p002_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:42px;
  height:33px;
}
#u472.compound {
  width:0px;
  height:0px;
}
#u472 {
  position:absolute;
  left:287px;
  top:223px;
  width:2px;
  height:60px;
}
#u473 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009900;
}
#u474 {
  position:absolute;
  left:257px;
  top:283px;
  width:169px;
  height:35px;
  font-size:16px;
  color:#009900;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u476_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:71px;
}
#u476p000 {
  position:absolute;
  left:-30px;
  top:29px;
  width:62px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u476p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:82px;
  height:13px;
}
#u476p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:2px;
}
#u476p001_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:13px;
}
#u476p002 {
  position:absolute;
  left:-10px;
  top:44px;
  width:22px;
  height:22px;
}
#u476p002_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:42px;
  height:33px;
}
#u476.compound {
  width:0px;
  height:0px;
}
#u476 {
  position:absolute;
  left:192px;
  top:223px;
  width:2px;
  height:60px;
}
#u477 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u478 {
  position:absolute;
  left:18px;
  top:150px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u479 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u480 {
  position:absolute;
  left:299px;
  top:244px;
  width:239px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#009900;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u482 {
  position:absolute;
  left:401px;
  top:150px;
  width:239px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#009900;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:59px;
  height:22px;
}
#u484p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:50px;
  height:2px;
}
#u484p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:61px;
  height:22px;
}
#u484p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u484p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u484p002 {
  position:absolute;
  left:32px;
  top:-10px;
  width:22px;
  height:22px;
}
#u484p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u484.compound {
  width:0px;
  height:0px;
}
#u484 {
  position:absolute;
  left:343px;
  top:160px;
  width:48px;
  height:2px;
}
#u485 {
  position:absolute;
  left:2px;
  top:-7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u486 {
  position:absolute;
  left:83px;
  top:286px;
  width:155px;
  height:30px;
}
#u487 {
  position:absolute;
  left:10px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
