body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1042px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:74px;
  top:65px;
  width:612px;
  height:180px;
}
#u946 {
  position:absolute;
  left:2px;
  top:82px;
  width:608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947 {
  position:absolute;
  left:171px;
  top:80px;
  width:159px;
  height:22px;
}
#u947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u947_input:disabled {
  color:grayText;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:125px;
  top:82px;
  width:44px;
  height:18px;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:125px;
  top:176px;
  width:140px;
  height:40px;
}
#u951 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:358px;
  top:176px;
  width:140px;
  height:40px;
}
#u953 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:188px;
  height:22px;
}
#u954p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:179px;
  height:2px;
}
#u954p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:190px;
  height:22px;
}
#u954p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u954p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u954p002 {
  position:absolute;
  left:161px;
  top:-10px;
  width:22px;
  height:22px;
}
#u954p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u954.compound {
  width:0px;
  height:0px;
}
#u954 {
  position:absolute;
  left:686px;
  top:135px;
  width:177px;
  height:2px;
}
#u955 {
  position:absolute;
  left:2px;
  top:-7px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u956 {
  position:absolute;
  left:873px;
  top:104px;
  width:122px;
  height:60px;
}
#u957 {
  position:absolute;
  left:10px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:404px;
  height:22px;
}
#u958p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:395px;
  height:2px;
}
#u958p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:406px;
  height:22px;
}
#u958p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u958p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u958p002 {
  position:absolute;
  left:377px;
  top:-10px;
  width:22px;
  height:22px;
}
#u958p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u958.compound {
  width:0px;
  height:0px;
}
#u958 {
  position:absolute;
  left:330px;
  top:90px;
  width:393px;
  height:2px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-7px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u960 {
  position:absolute;
  left:723px;
  top:70px;
  width:140px;
  height:42px;
}
#u961 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:45px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u962 {
  position:absolute;
  left:863px;
  top:176px;
  width:179px;
  height:45px;
}
#u963 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:360px;
  height:22px;
}
#u964p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:351px;
  height:2px;
}
#u964p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:362px;
  height:22px;
}
#u964p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u964p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u964p002 {
  position:absolute;
  left:333px;
  top:-10px;
  width:22px;
  height:22px;
}
#u964p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u964.compound {
  width:0px;
  height:0px;
}
#u964 {
  position:absolute;
  left:514px;
  top:195px;
  width:349px;
  height:2px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-7px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u966 {
  position:absolute;
  left:55px;
  top:18px;
  width:355px;
  height:35px;
  font-size:20px;
  color:#009900;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:74px;
}
#u968p000 {
  position:absolute;
  left:-32px;
  top:30px;
  width:66px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u968p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:86px;
  height:14px;
}
#u968p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:2px;
}
#u968p001_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:13px;
}
#u968p002 {
  position:absolute;
  left:-10px;
  top:47px;
  width:22px;
  height:22px;
}
#u968p002_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:42px;
  height:33px;
}
#u968.compound {
  width:0px;
  height:0px;
}
#u968 {
  position:absolute;
  left:427px;
  top:226px;
  width:2px;
  height:63px;
}
#u969 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u970 {
  position:absolute;
  left:366px;
  top:289px;
  width:149px;
  height:34px;
}
#u971 {
  position:absolute;
  left:10px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:74px;
}
#u972p000 {
  position:absolute;
  left:-32px;
  top:30px;
  width:66px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u972p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:86px;
  height:14px;
}
#u972p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:2px;
}
#u972p001_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:13px;
}
#u972p002 {
  position:absolute;
  left:-10px;
  top:47px;
  width:22px;
  height:22px;
}
#u972p002_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:42px;
  height:33px;
}
#u972.compound {
  width:0px;
  height:0px;
}
#u972 {
  position:absolute;
  left:186px;
  top:226px;
  width:2px;
  height:63px;
}
#u973 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:34px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u974 {
  position:absolute;
  left:115px;
  top:289px;
  width:166px;
  height:34px;
}
#u975 {
  position:absolute;
  left:10px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
}
#u976 {
  position:absolute;
  left:744px;
  top:231px;
  width:239px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#009900;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:59px;
  height:22px;
}
#u978p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:50px;
  height:2px;
}
#u978p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:61px;
  height:22px;
}
#u978p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u978p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u978p002 {
  position:absolute;
  left:32px;
  top:-10px;
  width:22px;
  height:22px;
}
#u978p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u978.compound {
  width:0px;
  height:0px;
}
#u978 {
  position:absolute;
  left:686px;
  top:241px;
  width:48px;
  height:2px;
}
#u979 {
  position:absolute;
  left:2px;
  top:-7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
