body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:677px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u918 {
  position:absolute;
  left:68px;
  top:121px;
  width:1370px;
  height:677px;
  color:#CCCCCC;
}
#u919 {
  position:absolute;
  left:2px;
  top:330px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u920 {
  position:absolute;
  left:95px;
  top:261px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0066FF;
}
#u922 {
  position:absolute;
  left:86px;
  top:304px;
  width:110px;
  height:22px;
  font-size:18px;
  color:#0066FF;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u924 {
  position:absolute;
  left:95px;
  top:351px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u926 {
  position:absolute;
  left:95px;
  top:440px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  position:absolute;
  left:1203px;
  top:143px;
  width:85px;
  height:16px;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:1326px;
  top:143px;
  width:57px;
  height:16px;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:581px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:196px;
  top:192px;
  width:1187px;
  height:581px;
}
#u933 {
  position:absolute;
  left:2px;
  top:282px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u934 {
  position:absolute;
  left:95px;
  top:398px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u936 {
  position:absolute;
  left:285px;
  top:241px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u938 {
  position:absolute;
  left:451px;
  top:427px;
  width:609px;
  height:71px;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u940 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u941 {
  position:absolute;
  left:100px;
  top:0px;
  width:101px;
  height:30px;
}
#u942 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u943 {
  position:absolute;
  left:201px;
  top:0px;
  width:91px;
  height:30px;
}
#u944 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u945 {
  position:absolute;
  left:292px;
  top:0px;
  width:126px;
  height:30px;
}
#u946 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u947 {
  position:absolute;
  left:418px;
  top:0px;
  width:186px;
  height:30px;
}
#u948 {
  position:absolute;
  left:2px;
  top:7px;
  width:182px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u949 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u950 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u951 {
  position:absolute;
  left:100px;
  top:30px;
  width:101px;
  height:36px;
}
#u952 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u953 {
  position:absolute;
  left:201px;
  top:30px;
  width:91px;
  height:36px;
}
#u954 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u955 {
  position:absolute;
  left:292px;
  top:30px;
  width:126px;
  height:36px;
  color:#000000;
}
#u956 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u957 {
  position:absolute;
  left:418px;
  top:30px;
  width:186px;
  height:36px;
}
#u958 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u959 {
  position:absolute;
  left:451px;
  top:329px;
  width:609px;
  height:71px;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u961 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u962 {
  position:absolute;
  left:100px;
  top:0px;
  width:101px;
  height:30px;
}
#u963 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u964 {
  position:absolute;
  left:201px;
  top:0px;
  width:91px;
  height:30px;
}
#u965 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u966 {
  position:absolute;
  left:292px;
  top:0px;
  width:126px;
  height:30px;
}
#u967 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u968 {
  position:absolute;
  left:418px;
  top:0px;
  width:186px;
  height:30px;
}
#u969 {
  position:absolute;
  left:2px;
  top:7px;
  width:182px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u970 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u971 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u972 {
  position:absolute;
  left:100px;
  top:30px;
  width:101px;
  height:36px;
}
#u973 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u974 {
  position:absolute;
  left:201px;
  top:30px;
  width:91px;
  height:36px;
}
#u975 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u976 {
  position:absolute;
  left:292px;
  top:30px;
  width:126px;
  height:36px;
  color:#000000;
}
#u977 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u978 {
  position:absolute;
  left:418px;
  top:30px;
  width:186px;
  height:36px;
}
#u979 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  position:absolute;
  left:683px;
  top:665px;
  width:140px;
  height:40px;
}
#u981 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  position:absolute;
  left:915px;
  top:665px;
  width:140px;
  height:40px;
}
#u983 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:451px;
  top:665px;
  width:140px;
  height:40px;
}
#u985 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u986 {
  position:absolute;
  left:451px;
  top:531px;
  width:206px;
  height:71px;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u989 {
  position:absolute;
  left:100px;
  top:0px;
  width:101px;
  height:30px;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u991 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u992 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u993 {
  position:absolute;
  left:100px;
  top:30px;
  width:101px;
  height:36px;
}
#u994 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u995 {
  position:absolute;
  left:451px;
  top:292px;
  width:351px;
  height:16px;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#009966;
}
#u997 {
  position:absolute;
  left:599px;
  top:227px;
  width:309px;
  height:33px;
  font-size:28px;
  color:#009966;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u999 {
  position:absolute;
  left:621px;
  top:58px;
  width:217px;
  height:42px;
  font-size:36px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
