body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:677px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u932 {
  position:absolute;
  left:68px;
  top:121px;
  width:1370px;
  height:677px;
  color:#CCCCCC;
}
#u933 {
  position:absolute;
  left:2px;
  top:330px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#33CCFF;
}
#u934 {
  position:absolute;
  left:614px;
  top:55px;
  width:217px;
  height:42px;
  font-size:36px;
  color:#33CCFF;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u936 {
  position:absolute;
  left:95px;
  top:261px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0066FF;
}
#u938 {
  position:absolute;
  left:86px;
  top:304px;
  width:110px;
  height:22px;
  font-size:18px;
  color:#0066FF;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u940 {
  position:absolute;
  left:95px;
  top:351px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u942 {
  position:absolute;
  left:95px;
  top:440px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:1203px;
  top:143px;
  width:81px;
  height:16px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:1326px;
  top:143px;
  width:57px;
  height:16px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:581px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:196px;
  top:192px;
  width:1187px;
  height:581px;
}
#u949 {
  position:absolute;
  left:2px;
  top:282px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u950 {
  position:absolute;
  left:95px;
  top:398px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u952 {
  position:absolute;
  left:285px;
  top:241px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u954 {
  position:absolute;
  left:451px;
  top:427px;
  width:609px;
  height:71px;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u956 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u957 {
  position:absolute;
  left:100px;
  top:0px;
  width:101px;
  height:30px;
}
#u958 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u959 {
  position:absolute;
  left:201px;
  top:0px;
  width:91px;
  height:30px;
}
#u960 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u961 {
  position:absolute;
  left:292px;
  top:0px;
  width:126px;
  height:30px;
}
#u962 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u963 {
  position:absolute;
  left:418px;
  top:0px;
  width:186px;
  height:30px;
}
#u964 {
  position:absolute;
  left:2px;
  top:7px;
  width:182px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u965 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u966 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u967 {
  position:absolute;
  left:100px;
  top:30px;
  width:101px;
  height:36px;
}
#u968 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u969 {
  position:absolute;
  left:201px;
  top:30px;
  width:91px;
  height:36px;
}
#u970 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u971 {
  position:absolute;
  left:292px;
  top:30px;
  width:126px;
  height:36px;
  color:#000000;
}
#u972 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u973 {
  position:absolute;
  left:418px;
  top:30px;
  width:186px;
  height:36px;
}
#u974 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u975 {
  position:absolute;
  left:451px;
  top:329px;
  width:609px;
  height:71px;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u977 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u978 {
  position:absolute;
  left:100px;
  top:0px;
  width:101px;
  height:30px;
}
#u979 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u980 {
  position:absolute;
  left:201px;
  top:0px;
  width:91px;
  height:30px;
}
#u981 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u982 {
  position:absolute;
  left:292px;
  top:0px;
  width:126px;
  height:30px;
}
#u983 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u984 {
  position:absolute;
  left:418px;
  top:0px;
  width:186px;
  height:30px;
}
#u985 {
  position:absolute;
  left:2px;
  top:7px;
  width:182px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u986 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u987 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u988 {
  position:absolute;
  left:100px;
  top:30px;
  width:101px;
  height:36px;
}
#u989 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u990 {
  position:absolute;
  left:201px;
  top:30px;
  width:91px;
  height:36px;
}
#u991 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u992 {
  position:absolute;
  left:292px;
  top:30px;
  width:126px;
  height:36px;
  color:#000000;
}
#u993 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u994 {
  position:absolute;
  left:418px;
  top:30px;
  width:186px;
  height:36px;
}
#u995 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:683px;
  top:665px;
  width:140px;
  height:40px;
}
#u997 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  position:absolute;
  left:915px;
  top:665px;
  width:140px;
  height:40px;
}
#u999 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  position:absolute;
  left:451px;
  top:665px;
  width:140px;
  height:40px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1002 {
  position:absolute;
  left:451px;
  top:531px;
  width:206px;
  height:71px;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:100px;
  top:0px;
  width:101px;
  height:30px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u1009 {
  position:absolute;
  left:100px;
  top:30px;
  width:101px;
  height:36px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1011 {
  position:absolute;
  left:451px;
  top:292px;
  width:351px;
  height:16px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#009966;
}
#u1013 {
  position:absolute;
  left:599px;
  top:227px;
  width:309px;
  height:33px;
  font-size:28px;
  color:#009966;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
